<h4>Forms <small>template</small></h4>
<hr>
<form (ngSubmit)="save(form)" id="needs-validation" #form="ngForm" novalidate >

  <div>

    <div class="form-group row has-da" ngClass="{'is-invalid: firstName.errors && firstName.touched'}">
      <label class="col-2 col-form-label">First Name</label>
      <div class="col-8">

        <input class="form-control"
               type="text"
               placeholder="Name"
               name="firstName"
               [(ngModel)]="user.firstName"
               required
               minlength="5"
               #firstName="ngModel">

        <div *ngIf="firstName.errors?.required"
             class="form-control-feedback" >
          Required Field
        </div>

        <div *ngIf="firstName.errors?.minlength"
             class="form-control-feedback">
          Min {{firstName.errors.minlength.requiredLength}} characters required
        </div>

      </div>
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Last Name</label>
      <div class="col-8">

        <input class="form-control"
               type="text"
               placeholder="LastName"
               [(ngModel)]="user.lastName"
               name="lastName"
               required
               #lastName="ngModel"
               >

        <div *ngIf="lastName.errors?.required">
          Required
        </div>
      </div>


    </div>

  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Email</label>
    <div class="col-md-8">

      <input class="form-control"
             type="email"
             placeholder="email"
             [(ngModel)]="user.email"
             name="email"
             required
             #email="ngModel"
             pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$">

      <div *ngIf="email.errors?.required">
        Required
      </div>

      <div *ngIf="email.errors?.pattern">
        Format is incorrect
      </div>

    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Country</label>
    <div class="col-8">
      <select
        [(ngModel)]="user.country"
        name="country"
        id="country"
        class="form-control">
          <option value="">Select Country</option>
          <option *ngFor="let country of countries" value="{{country.code}}">
            {{country.country}}
          </option>
      </select>

    </div>

  </div>

  <div class="form-group row">

    <label class="col-2 col-form-label">Gender</label>
    <div class="col-8">

      <div class="form-check form-check-inline" *ngFor="let g of genders">
        <label class="form-check-label" >
          <input class="form-check-input"
                 type="radio"
                 name="gender"
                 [value]="g"
                 [(ngModel)]="user.gender"> {{ g }}
        </label>
      </div>



      <!--Static Way-->
      <!--<div class="form-check form-check-inline">-->
        <!--<label class="form-check-label">-->
          <!--<input class="form-check-input"-->
                 <!--type="radio"-->
                 <!--name="gender"-->
                 <!--value="Male"-->
                 <!--[(ngModel)]="user.gender"> Male-->
        <!--</label>-->
      <!--</div>-->

      <!--<div class="form-check form-check-inline">-->
        <!--<label class="form-check-label">-->
          <!--<input class="form-check-input"-->
                 <!--type="radio"-->
                 <!--name="gender"-->
                 <!--value="Female"-->
                 <!--[(ngModel)]="user.gender"> Female-->
        <!--</label>-->
      <!--</div>-->

    </div>
  </div>

  <div class="form-group row">
      <label class="col-2 col-form-label">Accept</label>
      <div class="col-8">
          <label class="custom-control custom-checkbox">
            <input [(ngModel)]="user.accept"
                   name="accept"
                   type="checkbox"
                   class="custom-control-input">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">Accept conditions</span>
          </label>
      </div>
  </div>


  <div class="form-group row">
    <label class="col-2 col-form-label">&nbsp;</label>
    <div class="input-group col-md-8">
      <button type="submit"
              class="btn btn-outline-primary"
              >
        <!--[disabled]="form.invalid">-->
        Save
      </button>
    </div>
  </div>

</form>

<pre>
  {{ user | json }}
</pre>
